# Phase 1 - Ingestion and Cleaning

In the Phase 2 of the Case Study, we will carry out the following steps:
  - Ingest raw downloaded data
  - Output a combined dataset ready for analysis and modeling

In [2]:
import pandas as pd
import os
from sys import platform
import matplotlib.pyplot as plt
import datetime
import numpy as np
import pickle
import seaborn

In [3]:
# A helper function that you'll be using while reading the raw files
def is_integer(x):
    '''
    This function returns True if x is an integer, and False otherwise
    '''
    try:
        return (int(x) == float(x))
    except:
        return False

## Parameters

In [4]:
# Define the directories that contain the files downloaded
dir_cs = "/case_study_data.zip" # path to the directory where all the *.csv.zip files are located

# Define the output path for the pickle
pickle_file = "loanData/" + "clean_data.pickle" # path to save cleaned data

In [5]:
# Identify the columns we'll be keeping from the dataset
# list of features to use for this study as indicated in the handout
cols_to_pick = ["id", "loan_amnt", "funded_amnt", "term", "int_rate", "installment", "grade", "emp_length", \
                "home_ownership", "annual_inc", "verification_status", "issue_d", "loan_status", "purpose", \
                "dti", "delinq_2yrs", "earliest_cr_line", "open_acc", "pub_rec","fico_range_high", "fico_range_low", \
                "revol_bal", "revol_util", "total_pymnt", "last_pymnt_d", "recoveries"] 

# Identify the type of each of these column based on your CS-Phase 1 response
float_cols = ["loan_amnt", "funded_amnt", "installment", "annual_inc", "dti", "delinq_2yrs", "open_acc", "pub_rec", \
              "fico_range_high", "fico_range_low", "revol_bal", "total_pymnt", "recoveries"]
cat_cols = ["term", "grade", "emp_length", "home_ownership", "verification_status", "loan_status", "purpose"] # categorical features
perc_cols = ['int_rate', 'revol_util']
date_cols = ['issue_d', 'earliest_cr_line', 'last_pymnt_d']

# Ensure that we have types for every column
assert set(cols_to_pick) - set(float_cols) - set(cat_cols) - set(perc_cols) - set(date_cols) == set(["id"])

In [6]:
# Some of the columns selected will not be used directly in the model,
# but will be used to generate other features.
#
# Create variables specifying the features that will be used

# All categorical columns other than "loan_status" will be used as
# discrete features

discrete_features = list(set(cat_cols) - set(["loan_status"]))

# All numeric columns will be used as continuous features
continuous_features = list(float_cols + perc_cols)

## Ingestion
Ingest the data files from both sets, perform consistency checks, and prepare one single file for each set

In [7]:
import glob

def ingest_files(directory):
    '''
    This function will ingest every file in the specified directory
    into a pandas dataframe. It will return a dictionary containing
    these dataframes, keyed by the file name.
    
    We assume the directory contains files directly downloaded from
    the link given in the handout, and *only* those files. Thus, we 
    assume the files are zipped (pd.read_csv can read zipped files) 
    and we assume the first line in each file needs to be skipped.
    
    Note that each file will be read *without* formatting
    '''
    
    # If the directory has no trailing slash, add one
    if directory[-1] != "/":
        directory += "/"
    
    all_files = glob.glob(directory+"*.zip") # get list of all files from the directory
    output = {}
    
    print("Directory " + directory + " has " + str(len(all_files)) + " files:")
    for i in all_files:
        print("    Reading file " + i)
        output[i] = pd.read_csv(i, dtype='str', skiprows=1) # read each with dtype='str' and skip_rows =1
        
        # Some of the files have "summary" lines that, for example
        # read "Total number of loans number in Policy 1: ....."
        # To remove those lines, find any lines with non-integer IDs
        # and remove them
        invalid_rows = [not is_integer(r) for r in output[i]['id']] # mask rows that have non-integer IDs. Use is_integer method
       
        if sum(invalid_rows) > 0:
            print("Found " + str(sum(invalid_rows)) + " invalid rows which were removed")
            output[i] = output[i][np.logical_not(invalid_rows)] # remove invalid rows
    
    return output # return dictionary of dataframe

In [10]:
# Ingest the set of files we downloaded using the defined method "ingest_files"
files_cs = ingest_files("case_study_data/1805_download") # dictionary of (filename, dataframe) as (key, value)

Directory case_study_data/1805_download/ has 12 files:
    Reading file case_study_data/1805_download\LoanStats3a_securev1.csv.zip
Found 3 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats3b_securev1.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats3c_securev1.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats3d_securev1.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats_securev1_2016Q1.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats_securev1_2016Q2.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats_securev1_2016Q3.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats_securev1_2016Q4.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats_securev1_2017Q1.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats_securev1_2017Q2.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats_securev1_2017Q3.csv.zip
Found 2 invalid rows which were removed
    Reading file case_study_data/1805_download\LoanStats_securev1_2017Q4.csv.zip
Found 2 invalid rows which were removed

### Combine the files

In [11]:
data_cs = pd.concat(files_cs.values()) # combine "files_cs" into a pandas dataframe
data_cs.reset_index(drop=True)          # reset index with drop = True
data_cs.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1077501,NaN,5000,5000,4975,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,NaN,2500,2500,2500,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,NaN,2400,2400,2400,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,NaN,10000,10000,10000,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,NaN,3000,3000,3000,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
final_data[final_data['id']=='1077501']

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,earliest_cr_line,open_acc,pub_rec,fico_range_high,fico_range_low,revol_bal,revol_util,total_pymnt,last_pymnt_d,recoveries
0,1077501,5000.0,5000.0,36 months,10.65%,162.87,B,10+ years,RENT,24000.0,...,Jan-1985,3.0,0.0,739.0,735.0,13648.0,83.7%,5863.155187,Jan-2015,0.0

## Prepare Final Dataset

In [12]:
# Keep only the columns of interest from 'data_cs'
final_data = data_cs[cols_to_pick]
final_data.shape

(1765426, 26)

In [13]:
print("Starting with " + str(len(final_data)) + " rows")

Starting with 1765426 rows

### Typecast the columns

In [14]:
# Remember that we read the data as string (without any formatting). 
# Now we would typecast the columns based on feature types which you found out in CS Phase 1

for i in float_cols:
    final_data[i] = final_data[i].astype(float) # typecast float columns
    
final_data.dtypes

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

id                      object
loan_amnt              float64
funded_amnt            float64
term                    object
int_rate                object
installment            float64
grade                   object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
issue_d                 object
loan_status             object
purpose                 object
dti                    float64
delinq_2yrs            float64
earliest_cr_line        object
open_acc               float64
pub_rec                float64
fico_range_high        float64
fico_range_low         float64
revol_bal              float64
revol_util              object
total_pymnt            float64
last_pymnt_d            object
recoveries             float64
dtype: object

In [34]:
data_cs.loc[0]
#note: should we be resetting the index?

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1077501,NaN,5000,5000,4975,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,10149577,NaN,28000,28000,28000,36 months,7.62%,872.52,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,36805548,NaN,10400,10400,10400,36 months,6.99%,321.08,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,68495092,NaN,8650,8650,8650,36 months,19.89%,320.99,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,75598350,NaN,34000,34000,34000,36 months,9.75%,1093.1,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,84333484,NaN,12000,12000,12000,36 months,15.59%,419.46,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,90281097,NaN,35000,35000,35000,60 months,17.99%,888.58,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,94360756,NaN,25900,25900,25900,60 months,25.49%,767.66,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,104260154,NaN,35000,35000,35000,36 months,19.99%,1300.55,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,112149045,NaN,7200,7200,7200,36 months,24.85%,285.7,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,119374887,NaN,32000,32000,32000,36 months,11.99%,1062.71,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
0,125490256,NaN,16000,16000,16000,36 months,7.97%,501.17,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
def clean_perc(x):
    if type(x) is float:
        return x
    if pd.isnull(x):
        return np.nan
    else:
        return float(x.strip()[:-1])

for i in perc_cols:
    final_data[i] = [clean_perc(j) for j in final_data[i]] # apply clean_perc to percentage columns
    
final_data.dtypes

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

id                      object
loan_amnt              float64
funded_amnt            float64
term                    object
int_rate               float64
installment            float64
grade                   object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
issue_d                 object
loan_status             object
purpose                 object
dti                    float64
delinq_2yrs            float64
earliest_cr_line        object
open_acc               float64
pub_rec                float64
fico_range_high        float64
fico_range_low         float64
revol_bal              float64
revol_util             float64
total_pymnt            float64
last_pymnt_d            object
recoveries             float64
dtype: object

In [62]:
def clean_date(x):
    if type(x) is datetime.datetime:
        return x
    if pd.isnull(x):
        return None
    else:
        return datetime.datetime.strptime( x, "%b-%Y").date()

for i in date_cols:
    final_data[i] = [clean_date(d) for d in final_data[i]] # typecast date cloumns to datatime using clean_date

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [63]:
for i in cat_cols:
    final_data[i].replace(r'\s+', None, regex=True, inplace = True) # for categorical features if the value is null/empty set it to None

In [76]:
final_data.head().T

,0,1,2,3,4
id,1077501,1077430,1077175,1076863,1075358
loan_amnt,5000,2500,2400,10000,3000
funded_amnt,5000,2500,2400,10000,3000
term,36 months,60 months,36 months,36 months,60 months
int_rate,10.65,15.27,15.96,13.49,12.69
installment,162.87,59.83,84.33,339.31,67.79
grade,B,C,C,C,B
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,24000,30000,12252,49200,80000
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified
issue_d,2011-12-01,2011-12-01,2011-12-01,2011-12-01,2011-12-01
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Fully Paid
purpose,credit_card,car,small_business,other,other
dti,27.65,1,8.72,20,17.94
delinq_2yrs,0,0,0,0,0
earliest_cr_line,1985-01-01,1999-04-01,2001-11-01,1996-02-01,1996-01-01
open_acc,3,3,2,10,15
pub_rec,0,0,0,0,0
fico_range_high,739,744,739,694,699
fico_range_low,735,740,735,690,695
revol_bal,13648,1687,2956,5598,27783
revol_util,83.7,9.4,98.5,21,53.9
total_pymnt,5863.16,1014.53,3005.67,12231.9,4066.91
last_pymnt_d,2015-01-01,2013-04-01,2014-06-01,2015-01-01,2017-01-01
recoveries,0,122.9,0,0,0
loan_length,37.0275,16.0003,29.9965,37.0275,61.0444
term_num,36,60,36,36,60
ret_PESS,0.0575437,-0.118838,0.0841204,0.0743963,0.0711272
ret_OPT,0.0559469,-0.118838,0.100956,0.072332,0.0699103

## Calculate returns for each loan

In [65]:
# Define the names of the four returns we'll be calculating as described in Q.6
# ret_PESS: Pessimistic return
# ret_OPT: Optimistic return
# ret_INTa, ret_INTb: Method3 at two different values of "i" 
ret_cols = ["ret_PESS", "ret_OPT", "ret_INTa", "ret_INTb"]

In [69]:
# Remove all rows for loans that were paid back on the days they were issued
final_data['loan_length'] = (final_data.last_pymnt_d - final_data.issue_d) / np.timedelta64(1, 'M')
n_rows = len(final_data)

final_data = final_data.loc[final_data['loan_length'] > 0] # select rows where loan_length is not 0. 

print("Removed " + str(n_rows - len(final_data)) + " rows")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Removed 8006 rows

### M1-Pessimistic Method

In [70]:
final_data.term.str.extract('(\d+)',expand=False).astype(int).head()

0    36
1    60
2    36
3    36
4    60
Name: term, dtype: int32

In [71]:
# Calculate the return using a simple annualized profit margin
# Pessimistic definition (Handout 6a.) (M1)

final_data['term_num'] = final_data.term.str.extract('(\d+)',expand=False).astype(int) # length of loan in months

final_data['ret_PESS'] = ((final_data['total_pymnt']-final_data['loan_amnt'])/final_data['loan_amnt'] ) * (12/final_data['term_num'])

### M2-Optimistic Method

In [72]:
# Assuming that if a loan gives a positive return, we can
# immediately find a similar loan to invest in; if the loan
# takes a loss, we use M1-pessimistic to compute the return

final_data['ret_OPT'] = ((final_data['total_pymnt']-final_data['loan_amnt'])/final_data['loan_amnt'] ) * (12/final_data['loan_length'])

final_data.loc[final_data.ret_OPT < 0,'ret_OPT'] = final_data.loc[final_data.ret_OPT < 0,'ret_PESS']

### Method 3

In [153]:
#@joe/Ghazal please review
def ret_method_3(T, i):
    '''
    Given an investment time horizon (in months) and re-investment
    interest rate, calculate the return of each loan
    '''
    
    # Assuming that the total amount paid back was paid at equal
    # intervals during the duration of the loan, calculate the
    # size of each of these installment
    m = final_data.loan_length
    f = final_data.funded_amnt
    actual_installment = (final_data.total_pymnt - final_data.recoveries) / m #p/m

    # Assuming the amount is immediately re-invested at the prime
    # rate, find the total amount of money we'll have by the end
    # of the loan
    # compute the quantity given in [] in eq.2.3 of handout
    #(1-(1+i)^m) / 1 - (1+i)) * (1+i)^(T-m) - f

    cash_by_end_of_loan = actual_installment * (1-(1+i)**m)/-i * (1+i)**(T-m) - f
    
    cash_by_end_of_loan = cash_by_end_of_loan + final_data.recoveries
    
    # Assuming that cash is then re-invested at the prime rate,
    # with monthly re-investment, until T months from the start
    # of the loan
    remaining_months = T - final_data['loan_length']
    final_return = cash_by_end_of_loan * 1/f

    # Find the percentage return
    ret_val = (12/T) * final_return
    return ret_val

In [154]:
final_data['ret_INTa'] = ret_method_3(60,0.001) # call ret_method_3 with T=60, i=0.001
final_data['ret_INTb'] = ret_method_3(60,0.005) # call ret_method_3 with T=60, i=0.005

In [155]:
final_data.head().T

,0,1,2,3,4
id,1077501,1077430,1077175,1076863,1075358
loan_amnt,5000,2500,2400,10000,3000
funded_amnt,5000,2500,2400,10000,3000
term,36 months,60 months,36 months,36 months,60 months
int_rate,10.65,15.27,15.96,13.49,12.69
installment,162.87,59.83,84.33,339.31,67.79
grade,B,C,C,C,B
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,24000,30000,12252,49200,80000
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified
issue_d,2011-12-01,2011-12-01,2011-12-01,2011-12-01,2011-12-01
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Fully Paid
purpose,credit_card,car,small_business,other,other
dti,27.65,1,8.72,20,17.94
delinq_2yrs,0,0,0,0,0
earliest_cr_line,1985-01-01,1999-04-01,2001-11-01,1996-02-01,1996-01-01
open_acc,3,3,2,10,15
pub_rec,0,0,0,0,0
fico_range_high,739,744,739,694,699
fico_range_low,735,740,735,690,695
revol_bal,13648,1687,2956,5598,27783
revol_util,83.7,9.4,98.5,21,53.9
total_pymnt,5863.16,1014.53,3005.67,12231.9,4066.91
last_pymnt_d,2015-01-01,2013-04-01,2014-06-01,2015-01-01,2017-01-01
recoveries,0,122.9,0,0,0
loan_length,37.0275,16.0003,29.9965,37.0275,61.0444
term_num,36,60,36,36,60
ret_PESS,0.0575437,-0.118838,0.0841204,0.0743963,0.0711272
ret_OPT,0.0559469,-0.118838,0.100956,0.072332,0.0699103
ret_INTa,0.0443472,-0.115069,0.0618744,0.0548822,0.0791381
ret_INTb,0.0881288,-0.0979233,0.11301,0.100551,0.114497

### Visualize the variables

In [ ]:
def visualize_float_columns():
    '''
    This function visualizes Box-and-whisker plots for continuous variables
    '''
    
    # FLoat columns
    for i in float_cols + perc_cols + ret_cols:
        seaborn.boxplot(final_data[i])

        # Print the three highest values
        highest_vals = ... # get 3 highest values
        
        smallest_val = min(final_data[i])
        
        plt.text(smallest_val, -0.3, highest_vals[0])
        plt.text(smallest_val, -0.2, highest_vals[1])
        plt.text(smallest_val, -0.1, highest_vals[2])

        plt.show()

In [ ]:
def visualize_cat_columns():
    '''
    Lists the distinct values for categorical columns
    '''
    # Categorical columns 
    for i in cat_cols:
        ... # print field name
        ... # print number of distinct values
        ... # for each distinct value print the number of occurances
        print("")
        print("")

In [ ]:
def visualize_date_columns():
    '''
    This function visualizes a timeline density for dates
    '''
    
    # Date columns
    for i in date_cols:
        final_data[final_data[i].isnull() == False][i].apply(lambda x : str(x.year) +
                                                "-" + str(x.month)).value_counts(ascending = True).plot()
        plt.title(i + " (" + str(final_data[i].isnull().sum()) + " null values)")
        plt.show()

In [ ]:
# visualize continuous features
...

# visulaize categorical features
...

# visualize date columns
...

### Handle outliers

In [ ]:
# There are quite a few outliers. 
# Please identify top-k (decide this based on the visualization) features where outliers are most obvious
n_rows = len(final_data)

final_data = ... # remove outliers based 1st obvious feature
final_data = ... # remove outliers based 2nd obvious feature
...
final_data = ... # remove outliers based kth obvious feature

print("Removed " + str(n_rows - len(final_data)) + " rows")

In [ ]:
# Remove all loans that are still current
n_rows = len(final_data)

final_data = ...

print("Removed " + str(n_rows - len(final_data)) + " rows")

In [ ]:
# Only include loans isssued since 2010
n_rows = len(final_data)

final_data = ...

print("Removed " + str(n_rows - len(final_data)) + " rows")

### Drop null values

In [ ]:
# Deal with null values. We allow cateogrical variables to be null
# OTHER than grade, which is a particularly important categorical.
# All non-categorical variables must be non-null, and we drop
# rows that do not meet this requirement

required_cols = set(cols_to_pick) - set(cat_cols) - set(["id"])
required_cols.add("grade")

n_rows = len(final_data)

... # drop rows that contain null based only on "required_cols"

print("Removed " + str(n_rows - len(final_data)) + " rows")

### Visualize clean data

In [ ]:
# Visualize the data again after cleaning
...
...
...

In [ ]:
# Visualize the feature correlations
... # use sns scatter or pairplot
...

In [ ]:
# Visualize relation between loan status and features
... # sns pairplot or scatter plot. Refer to recitations
...
...

What do you observe after removing the outliers?

### Data Exploration
Solution to Q.7 from the handout

In [ ]:
# Find the percentage of loans by grade, the default by grade,
# and the return of each grade
perc_by_grade = (final_data.grade.value_counts()*100/len(final_data)).sort_index()

default_by_grade = final_data.groupby("grade").apply(lambda x : (x.loan_status != "Fully Paid").sum()*100/len(x) )
ret_by_grade_OPT = ... # average return for M2-Optimistic for each loan grade
ret_by_grade_PESS = ... # average return for M1-Pessimistic for each loan grade
ret_by_grade_INTa = ... # average return for M3
ret_by_grade_INTb = ... # average return for M3
int_rate_by_grade = ... # average interest rate for each grade

combined = pd.DataFrame(perc_by_grade)
combined.columns = ['perc_of_loans']
combined['perc_default'] = default_by_grade
combined['avg_int_rate'] = int_rate_by_grade
combined['return_OPT'] = ret_by_grade_OPT
combined['return_PESS'] = ret_by_grade_PESS
combined['return_INTa'] = ret_by_grade_INTa
combined['return_INTb'] = ret_by_grade_INTb
combined['return_INTc'] = ret_by_grade_INTc

combined

Based on the output of previous cell, write down your answers to Q.7 from the handout.

### Save a Pickle

In [ ]:
# Remove the "total_pymnt" and "recoveries" from the list of continuous features
continuous_features = ...

Why did we remove `total_pymt` and `recoveries` from the data for the task of predicting whether to give loan or not, although these are highly predictive features?

In [ ]:
# save the prepared data for modeling in next Phase.
pickle.dump( [final_data, discrete_features, continuous_features, ret_cols], open(pickle_file, "wb") )